# YZV311E Data Mining Course Project

## Data Merging

### Links to the datasets:

https://www.kaggle.com/datasets/venky73/spam-mails-dataset

https://www.kaggle.com/datasets/shantanudhakadd/email-spam-detection-dataset-classification

https://www.kaggle.com/datasets/nitishabharathi/email-spam-dataset

https://www.kaggle.com/datasets/wcukierski/enron-email-dataset

https://www.kaggle.com/datasets/subhajournal/phishingemails

https://www.kaggle.com/datasets/jackksoncsie/spam-email-dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

PATH = "datasets/"

In [2]:
data1 = pd.read_csv(PATH + "spam.csv", encoding='latin-1')

In [3]:
data1.count()

v1            5572
v2            5572
Unnamed: 2      50
Unnamed: 3      12
Unnamed: 4       6
dtype: int64

In [4]:
# lets check if Unnamed: 2, 3 and 4 consist any spam messages
data1[data1['v1'] == 'spam'].count()

v1            747
v2            747
Unnamed: 2      5
Unnamed: 3      2
Unnamed: 4      0
dtype: int64

Now, Unnamed 2, 3 and 4 are replies to the mails people responded to. It is most likely that it will not consist spam data (and as we saw, this might fall into the category of outliers. So, we will remove these columns.)

In [5]:
data1.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1, inplace=True)
# With this operation, we will have 2 clean columns since the dropped columns also includede texts like .;-):-D" etc.

In [6]:
data1.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data1['v1'] = le.fit_transform(data1['v1'])

data1.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [8]:
data1.rename(columns={'v1': 'label', 'v2': 'text'}, inplace=True)

In [9]:
data1.head()

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

### 1 is spam, 0 is not spam

In [10]:
data2 = pd.read_csv(PATH + "spam_ham_dataset.csv", encoding='latin-1')

In [11]:
data2.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [12]:
data2.drop(["Unnamed: 0", "label"], axis=1, inplace=True)

In [13]:
data2["text"]

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

While merging, we will create a subject column and a body column, we understand that not every dataset included the subjects but seperating them into a different dataset will help us analyse the data better.

In [14]:
# find keyword "Subject:" and count it 
data2[data2["text"].str.contains("Subject:")].count()

text         5171
label_num    5171
dtype: int64

In [15]:
# whole data row count
data2.count()

text         5171
label_num    5171
dtype: int64

So all text data includes a subject and a body column.

In [16]:
# what we know is in text column the subject ends right after \r and the body starts after \n
# so we will split the text column into 2 columns

data2["subject"] = data2["text"].str.split("\r").str[0]
data2["body"] = data2["text"].str.split("\n").str[1]

In [17]:
data2.head()

,text,label_num,subject,body
0,Subject: enron methanol ; meter # : 988291\r\n...,0,Subject: enron methanol ; meter # : 988291,this is a follow up to the note i gave you on ...
1,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,"Subject: hpl nom for january 9 , 2001",( see attached file : hplnol 09 . xls )\r
2,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,Subject: neon retreat,"ho ho ho , we ' re around to that most wonderf..."
3,"Subject: photoshop , windows , office . cheap ...",1,"Subject: photoshop , windows , office . cheap ...",abasements darer prudently fortuitous undergone\r
4,Subject: re : indian springs\r\nthis deal is t...,0,Subject: re : indian springs,this deal is to book the teco pvr revenue . it...

In [18]:
data2.drop(["text"], axis=1, inplace=True)
data2.rename(columns={'label_num': 'label', "body": "text"}, inplace=True)

In [19]:
data2.head()

,label,subject,text
0,0,Subject: enron methanol ; meter # : 988291,this is a follow up to the note i gave you on ...
1,0,"Subject: hpl nom for january 9 , 2001",( see attached file : hplnol 09 . xls )\r
2,0,Subject: neon retreat,"ho ho ho , we ' re around to that most wonderf..."
3,1,"Subject: photoshop , windows , office . cheap ...",abasements darer prudently fortuitous undergone\r
4,0,Subject: re : indian springs,this deal is to book the teco pvr revenue . it...

In [20]:
data3 = pd.read_csv(PATH + "Phishing_Email.csv", encoding='latin-1')

In [21]:
data3.head()

,Unnamed: 0,Email Text,Email Type
0,0,"re : 6 . 1100 , disc : uniformitarianism , re ...",Safe Email
1,1,the other side of * galicismos * * galicismo *...,Safe Email
2,2,re : equistar deal tickets are you still avail...,Safe Email
3,3,\nHello I am your hot lil horny toy.\n I am...,Phishing Email
4,4,software at incredibly low prices ( 86 % lower...,Phishing Email

In [22]:
data3['label'] = data3['Email Type'].apply(lambda x: ["Safe Email", "Phishing Email"].index(x))
# Source: https://stackoverflow.com/questions/38749305/labelencoder-order-of-fit-for-a-pandas-df 
# label encoder was encoding safe email as 1 and we had no way of having an order for the labels

In [23]:
data3.head()

,Unnamed: 0,Email Text,Email Type,label
0,0,"re : 6 . 1100 , disc : uniformitarianism , re ...",Safe Email,0
1,1,the other side of * galicismos * * galicismo *...,Safe Email,0
2,2,re : equistar deal tickets are you still avail...,Safe Email,0
3,3,\nHello I am your hot lil horny toy.\n I am...,Phishing Email,1
4,4,software at incredibly low prices ( 86 % lower...,Phishing Email,1

In [24]:
data3.drop(columns=["Email Type", "Unnamed: 0"], inplace=True)

In [25]:
data3.rename(columns={'Email Text': 'text'}, inplace=True)

In [26]:
data3.head()

                                                text  label
0  re : 6 . 1100 , disc : uniformitarianism , re ...      0
1  the other side of * galicismos * * galicismo *...      0
2  re : equistar deal tickets are you still avail...      0
3  \nHello I am your hot lil horny toy.\n    I am...      1
4  software at incredibly low prices ( 86 % lower...      1

In [27]:
data4 = pd.read_csv(PATH + "emails.csv", encoding='latin-1')

In [28]:
data4.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [29]:
# for this specific dataset, the subject ends right after "  " which is two spaces. we will split the text column into 2 columns
data4["subject"] = data4["text"].str.split("  ").str[0]
data4["text"] = data4["text"].str.split("  ").str[1]

In [30]:
data4.head()

,text,spam,subject
0,lt is really hard to recollect a company : the,1,Subject: naturally irresistible your corporate...
1,fanny is merrill but muzo not colza attainder ...,1,Subject: the stock trading gunslinger
2,im wanting to show you this,1,Subject: unbelievable new homes made easy
3,request additional information now ! click here,1,Subject: 4 color printing special
4,software compatibility . . . . ain ' t it great ?,1,"Subject: do not have money , get software cds ..."

In [31]:
data5 = pd.read_csv(PATH + "spam_assassin/completeSpamAssassin.csv", encoding='latin-1')

In [32]:
data5.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [33]:
data5.drop(columns=["Unnamed: 0"], inplace=True)
data5.rename(columns={'Label': 'label', 'Body': 'text'}, inplace=True)

In [34]:
# we have a problem on the first row. It starts with \n then identifies the subject then \n again. 
# If we were to split the text column with \n, we would have a problem.
# So when we are splitting, we will check if \ is the first character of the row
# if it is, we will find the next \n and split the text column with that
# if it is not, we will split the text column with \n

def custom_split(row):
    # Check if the value is NaN
    if pd.isna(row['text']):
        return np.nan, np.nan
    
    # Check if the first character is \
    if row['text'][0] == '\\':
        # Find the next \n after the first character
        next_backslash_index = row['text'].find('\n', 1)
        # Split the text column with the found \n
        return row['text'][1:next_backslash_index], row['text'][next_backslash_index+1:]
    else:
        # Split the text column with \n
        return row['text'].split('\n', 1) if '\n' in row['text'] else (row['text'], np.nan)

# Apply the function to your DataFrame
data5[['Subject', 'Text']] = data5.apply(custom_split, axis=1, result_type='expand')

In [35]:
data5.head()

,text,label,Subject,Text
0,\nSave up to 70% on Life Insurance.\nWhy Spend...,1,,Save up to 70% on Life Insurance.\nWhy Spend M...
1,1) Fight The Risk of Cancer!\nhttp://www.adcli...,1,1) Fight The Risk of Cancer!,http://www.adclick.ws/p.cfm?o=315&s=pk0072) Sl...
2,1) Fight The Risk of Cancer!\nhttp://www.adcli...,1,1) Fight The Risk of Cancer!,http://www.adclick.ws/p.cfm?o=315&s=pk0072) Sl...
3,##############################################...,1,##############################################...,# ...
4,I thought you might like these:\n1) Slim Down ...,1,I thought you might like these:,1) Slim Down - Guaranteed to lose 10-12 lbs in...

In [36]:
data5.drop(columns=['text'], inplace=True)

In [37]:
data5.head()

,label,Subject,Text
0,1,,Save up to 70% on Life Insurance.\nWhy Spend M...
1,1,1) Fight The Risk of Cancer!,http://www.adclick.ws/p.cfm?o=315&s=pk0072) Sl...
2,1,1) Fight The Risk of Cancer!,http://www.adclick.ws/p.cfm?o=315&s=pk0072) Sl...
3,1,##############################################...,# ...
4,1,I thought you might like these:,1) Slim Down - Guaranteed to lose 10-12 lbs in...

In [78]:
data6 = pd.read_csv(PATH + "emails 2.csv", encoding='utf-8')

In [79]:
data6.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

In [80]:
data6['message'][3]

"Message-ID: <13505866.1075863688222.JavaMail.evans@thyme>\nDate: Mon, 23 Oct 2000 06:13:00 -0700 (PDT)\nFrom: phillip.allen@enron.com\nTo: randall.gay@enron.com\nSubject: \nMime-Version: 1.0\nContent-Type: text/plain; charset=us-ascii\nContent-Transfer-Encoding: 7bit\nX-From: Phillip K Allen\nX-To: Randall L Gay\nX-cc: \nX-bcc: \nX-Folder: \\Phillip_Allen_Dec2000\\Notes Folders\\'sent mail\nX-Origin: Allen-P\nX-FileName: pallen.nsf\n\nRandy,\n\n Can you send me a schedule of the salary and level of everyone in the \nscheduling group.  Plus your thoughts on any changes that need to be made.  \n(Patti S for example)\n\nPhillip"

In [81]:
print(data6['message'][3])

Message-ID: <13505866.1075863688222.JavaMail.evans@thyme>
Date: Mon, 23 Oct 2000 06:13:00 -0700 (PDT)
From: phillip.allen@enron.com
To: randall.gay@enron.com
Subject:
Mime-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit
X-From: Phillip K Allen
X-To: Randall L Gay
X-cc:
X-bcc:
X-Folder: \Phillip_Allen_Dec2000\Notes Folders\'sent mail
X-Origin: Allen-P
X-FileName: pallen.nsf

Randy,

 Can you send me a schedule of the salary and level of everyone in the
scheduling group.  Plus your thoughts on any changes that need to be made.
(Patti S for example)

Phillip

In [82]:
# https://www.kaggle.com/code/zichen/explore-enron/notebook 
# this notebook helped me to understand how to extract the content from the message column

import email 

def get_text_from_email(msg):
    parts = []
    for part in msg.walk():
        if part.get_content_type() == 'text/plain':
            parts.append( part.get_payload() )
    return ''.join(parts)

messages = list(map(email.message_from_string, data6['message']))
data6['content'] = list(map(get_text_from_email, messages))

keys = messages[0].keys()
for key in keys:
    data6[key] = [doc[key] for doc in messages]

In [83]:
data6.head()

,file,message,content,Message-ID,Date,From,To,Subject,Mime-Version,Content-Type,Content-Transfer-Encoding,X-From,X-To,X-cc,X-bcc,X-Folder,X-Origin,X-FileName
0,allen-p/_sent_mail/1.,Message-ID: <18782981.1075855378110.JavaMail.e...,Here is our forecast\n\n,<18782981.1075855378110.JavaMail.evans@thyme>,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",phillip.allen@enron.com,tim.belden@enron.com,,1.0,text/plain; charset=us-ascii,7bit,Phillip K Allen,Tim Belden <Tim Belden/Enron@EnronXGate>,,,"\Phillip_Allen_Jan2002_1\Allen, Phillip K.\'Se...",Allen-P,pallen (Non-Privileged).pst
1,allen-p/_sent_mail/10.,Message-ID: <15464986.1075855378456.JavaMail.e...,Traveling to have a business meeting takes the...,<15464986.1075855378456.JavaMail.evans@thyme>,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",phillip.allen@enron.com,john.lavorato@enron.com,Re:,1.0,text/plain; charset=us-ascii,7bit,Phillip K Allen,John J Lavorato <John J Lavorato/ENRON@enronXg...,,,"\Phillip_Allen_Jan2002_1\Allen, Phillip K.\'Se...",Allen-P,pallen (Non-Privileged).pst
2,allen-p/_sent_mail/100.,Message-ID: <24216240.1075855687451.JavaMail.e...,test successful. way to go!!!,<24216240.1075855687451.JavaMail.evans@thyme>,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",phillip.allen@enron.com,leah.arsdall@enron.com,Re: test,1.0,text/plain; charset=us-ascii,7bit,Phillip K Allen,Leah Van Arsdall,,,\Phillip_Allen_Dec2000\Notes Folders\'sent mail,Allen-P,pallen.nsf
3,allen-p/_sent_mail/1000.,Message-ID: <13505866.1075863688222.JavaMail.e...,"Randy,\n\n Can you send me a schedule of the s...",<13505866.1075863688222.JavaMail.evans@thyme>,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)",phillip.allen@enron.com,randall.gay@enron.com,,1.0,text/plain; charset=us-ascii,7bit,Phillip K Allen,Randall L Gay,,,\Phillip_Allen_Dec2000\Notes Folders\'sent mail,Allen-P,pallen.nsf
4,allen-p/_sent_mail/1001.,Message-ID: <30922949.1075863688243.JavaMail.e...,Let's shoot for Tuesday at 11:45.,<30922949.1075863688243.JavaMail.evans@thyme>,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",phillip.allen@enron.com,greg.piper@enron.com,Re: Hello,1.0,text/plain; charset=us-ascii,7bit,Phillip K Allen,Greg Piper,,,\Phillip_Allen_Dec2000\Notes Folders\'sent mail,Allen-P,pallen.nsf

In [84]:
data6.drop(columns=["Message-ID", "Date", "From", "To", "file", "Mime-Version", "Content-Type", "Content-Transfer-Encoding", "X-From", "X-To", "X-cc", "X-bcc", "X-Folder", "X-Origin", "X-FileName", "message"], inplace=True)

In [85]:
data6.head()

                                             content    Subject
0                          Here is our forecast\n\n
1  Traveling to have a business meeting takes the...        Re:
2                     test successful.  way to go!!!   Re: test
3  Randy,\n\n Can you send me a schedule of the s...
4                Let's shoot for Tuesday at 11:45.    Re: Hello

In [86]:
print(data1.columns)
print(data2.columns)
print(data3.columns)
print(data4.columns)
print(data5.columns)
print(data6.columns)

Index(['label', 'text'], dtype='object')
Index(['label', 'subject', 'text'], dtype='object')
Index(['text', 'label'], dtype='object')
Index(['text', 'spam', 'subject'], dtype='object')
Index(['label', 'Subject', 'Text'], dtype='object')
Index(['content', 'Subject'], dtype='object')

In [87]:
# we will set all the names as label and text and if any, subject
data4.rename(columns={'spam': 'label', 'text': 'text', 'subject': 'subject'}, inplace=True)
data5.rename(columns={'Subject': 'subject', 'Text': 'text'}, inplace=True)
data6.rename(columns={'content': 'text', 'subject': 'subject'}, inplace=True)

In [88]:
# we will now merge the first 5 datasets (train dataset)
# if there are no subject column, we will create one and set it as NaN

data = pd.concat([data1, data2, data3, data4, data5], ignore_index=True, sort=False)

In [89]:
data.head()

   label                                               text subject
0      0  Go until jurong point, crazy.. Available only ...     NaN
1      0                      Ok lar... Joking wif u oni...     NaN
2      1  Free entry in 2 a wkly comp to win FA Cup fina...     NaN
3      0  U dun say so early hor... U c already then say...     NaN
4      0  Nah I don't think he goes to usf, he lives aro...     NaN

In [90]:
data.to_csv(PATH + "train.csv", index=False)

In [91]:
data = pd.concat([data1, data2, data3, data4, data5, data6], ignore_index=True, sort=False)
data.to_csv(PATH + "zero_shot.csv", index=False)

In [92]:
data6.to_csv(PATH + "seperate.csv", index=False)